name: PR checks

on: [pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [16.x]
        os: [ubuntu-latest]

    steps:          
    - name: Checkout default branch
      uses: actions/checkout@v2.4.0
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.5.1
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: npm install and lint
      run: |
        npm ci
        npm run lint
      env:
        CI: true
